body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f3f3f3;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: #161616;
}

header {
  background: linear-gradient(to right, #ff0084, #ea1d1d);
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.headerTitle {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  color: #ffffff;
}

.results {
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.correct {
  color: #0bbb17;
  text-shadow: 2px 2px 4px rgba(255, 64, 129, 0.3);
}

.uncorrect {
  color: #cf0b08;
  text-shadow: 2px 2px 4px rgba(229, 57, 53, 0.3);
}

.questions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #9575cd, #0288d1);
  padding: 2em;
  border-radius: 10px;
  margin: 1em 0;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.number {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.question {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

.button {
  padding: 1em 2em;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #ff4081, #f50057);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s;
  min-width: 150px;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #ff4081, #f50057, #ff4081);
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.timer {
  font-size: 24px;
  color: #000000;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
